<div id="search-box">
  <form action="/artist-search" method="GET">
    <label for="artist-name"></label>
    <input
      type="text"
      name="artist-name"
      placeholder="Enter Artist Name"
      required
    />
    <button type="submit">Search For An Artist!</button>
  </form>
</div>